$def with (albums, form)

<div class="search_form">
<form action="" method="post">
    $:form.render_css()
</form>
</div>

<p>search result: $len(albums) albums</p>

<table>
	<caption>Search result</caption>
	<tbody>
    <tr>
        <th>Album</th>
        <th>Albumartist</th>
        <th>Artist</th>
    </tr>
$for album in albums:
    <tr>
        <td><a href="/album_details/$album.album">$album.album</a></td>
        <td>$album.album_artist</td>
        <td>$album.artist</td>
    </tr> 
</tbody>
<tfoot><tr></tr></tfoot>       
</table>  
