<html>
    <title>
    Flexbox
    </title>
    <body>
        <!-- Flexbox-Container -->
        <div style="display: flex ; flex-wrap: wrap;">
            <!-- Anfang linkes Element -->
            <div style="flex: ; padding:1.5em 1em;">
                <table border="1">
                    <th>Spalte 1</th>
                    <th>Spalte 2</th>
                    <tr>
                        <td>1.Zeile in Spalte 1</td>
                        <td>1.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>2.Zeile in Spalte 1</td>
                        <td>2.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>3.Zeile in Spalte 1</td>
                        <td>3.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>4.Zeile in Spalte 1</td>
                        <td>4.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>5.Zeile in Spalte 1</td>
                        <td>5.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>6.Zeile in Spalte 1</td>
                        <td>6.Zeile in Spalte 2</td>
                    </tr>
                    <tr>
                        <td>7.Zeile in Spalte 1</td>
                        <td>7.Zeile in Spalte 2</td>
                    </tr>
                </table>
            <!-- Abschluss linkes Element --> 
            </div>
            <!-- Anfang rechtes Element -->
            <div style="flex: ; padding:1.5em 1em;">        
                <div style="img: ; box-shadow: 10px 20px 15px silver; border: 1px solid #000000;">
                    <img src="uwe_lisboa.jpg" width="300" height="300">
                </div>
            <!-- Abschluss rechtes Element --> 
            </div>
        <!-- Abschluss Flexbox --> 
        </div>
    </body>
</html>
